@model IEnumerable<LeThuTrangBTH2.Models.Employee>
<p>
    <a class="btn btn-success" asp-action="Create">Create a new Employee</a>
</p>
<table class="table table-all">
    <tr>
        <th>EmployeeID</th>
        <th>EmployeeName</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => item.EmployeeID)</td>
            <td>@Html.DisplayFor(m => item.EmployeeID)</td>
        </tr>
    }
</table>